{% load static %}
{% load cookiebanner %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>JudaicaLink Labs!</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">JudaicaLink Labs!</a>
    <a class="nav-link" href="/search">Search</a>
</nav>
<div class="content">
    {% block content %}

    {% endblock %}
</div>


<script src="{% static 'js/bundle.js' %}"></script>

{% cookie_accepted 'analytics' as cookie_analytics %}
{% if cookie_analytics %}
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//web.judaicalink.org/matomo/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Matomo Code -->
{% endif %}

</body>
</html>
