{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.all.min.css' %}">
    <link rel="  stylesheet" href="{% static 'core/css/labs.css' %}">

    <title>JudaicaLink Labs!</title>

    <!-- Matomo -->
    <script type="text/javascript">
	var _paq = window._paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
		var u="//web.judaicalink.org/matomo/";
		_paq.push(['setTrackerUrl', u+'matomo.php']);
	        _paq.push(['setSiteId', '2']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
    </script>
    <!-- End Matomo Code -->


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">JudaicaLink Labs!</a>
  <a class="nav-link" href="/search">Search</a>
</nav>
<div class="content">
    {% block content %}
      
    {% endblock %}
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core/js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'core/js/popper.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
  </body>
</html>
