{% extends 'search/base.html' %}

{% block meta_contact %}
    <meta name="keywords" content="judaicalink, contact, question">
    <meta name="description" content="If you have any questions about our JudaicaLink knowledge graph project feel free to contact us.">
{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block header_scripts %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}

{% block content %}


<main class="row">

        <div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-8 col-xl-8">

            <h1 class="text-center text-md-left">Contact us</h1>
            {% if form.errors or error_message %}
            <div class="alert alert-danger mt-5" role="alert">
                <h2 class="text-danger">{{ error_message }}</h2>
                {% for key, error in form.errors.items %}
                <p><strong>{{ error | striptags }}</strong></p>

                {% endfor %}
            </div>
            {% endif %}


           <p>If you have any questions about our JudaicaLink knowledge graph project, if you want to share some datasets about Jewish Studies or you want to join us, feel free to contact us at any time. <br>
               <i class="fas fa-reply"></i><b> We will answer you as soon as possible.</b></p>

    <div class="container">
        <div class="row">
            {% csrf_token %}
            {% crispy form %}
        </div>
    </div>
        </div>

    <div class="col-md-0 col-lg-4 col-xl-4">
            <img src="/static/img/cole-keister-ogQLprYfTKY-unsplash1.jpg" class="img-thumbnail img-fluid mt-4" alt="Contact us">
    </div>

</main>

{% endblock %}
