{% extends 'search/base.html' %}
{% load static %}
{% block content %}


<!--content-->

<main class="row">

   <div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8">

    <h1 class="text-center">We were unable to find the page you are looking for</h1>

<br>
<p>
The page you were looking for might have been removed had it's name changed or is temporarily not available. We are sorry for the inconvenience.</p>
    </div>
    <div class="col-md-0 col-lg-3 col-xl-4">

            <img src="{% static 'img/new-synagogue-berlin.webp' %}" class="img-thumbnail img-fluid mt-4" alt="new synagogue berlin">
    </div>
</main>
<!--content end-->

{% endblock content %}
