Django==3.2.12
channels>=3.0.4
elasticsearch>=8.0.0
PyYAML>=5.3
rdflib>=4.2.2
requests>=2.22.0
SPARQLWrapper>=1.8.4
toml>=0.10.0
libsass==0.20.0
django-compressor==2.2
django-crispy-forms>=1.14.0
django-sass-processor==0.8
django-environ==0.8.1
django-hcaptcha==0.2.0
django-active-link==0.1.8
django-debug-toolbar==3.2.4
django-extensions==3.1.2
redis==4.1.2
django-redis==5.2.0
django-cookiebanner>=0.2.5
environ~=1.0
asgiref~=3.4.1
setuptools~=57.0.0
