asgiref==3.11.0
attrs==25.4.0
autobahn==25.11.1
Automat==25.4.16
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.4
constantly==23.10.4
crispy-bootstrap5==2025.6
cryptography==46.0.3
daphne==4.2.1
Django==5.2.9
django-active-link==0.3.0
django-appconf==1.2.0
django-cookiebanner==0.2.8
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.2
django-hCaptcha==0.2.0
django-ranged-response==0.2.0
django-redis==6.0.0
django-sass-processor==1.4.2
django-simple-captcha==0.6.2
django-webpack-loader==3.2.2
django_compressor==4.6.0
django_webhook_consume @ git+https://github.com/FlorianRupp/django-webhook-consume.git@eb895b00c59286a79c921ec91ae9a30c4dc2b816
djangorestframework==3.16.1
drf-yasg==1.21.11
environ==1.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
inflection==0.5.1
lxml==6.0.2
Markdown==3.10
msgpack==1.1.2
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pyOpenSSL==25.3.0
pyparsing==3.2.5
pysolr==3.11.0
pytz==2025.2
PyYAML==6.0.3
rcssmin==1.2.2
rdflib==7.4.0
redis==7.1.0
regex==2025.11.3
requests==2.32.5
rjsmin==1.2.5
service-identity==24.2.0
setuptools==80.9.0
SPARQLWrapper==2.0.0
sqlparse==0.5.3
toml==0.10.2
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.6.0
whitenoise==6.11.0
zope.interface==8.1.1
