{% extends 'search/base.html' %}
{% load static %}
{% load cookiebanner %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <meta charset="UTF-8">
    <h1>Dashboard Main</h1>

{{result}}

{% endblock %}

{% block footer_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type='text/javascript'>
    var datasets = {{result|safe}};
  </script>

  <div id="dashboard">
      <li v-for="data in datasets">
          [[ data]]
      </li>

  </div>
 <!-- delimiters: Hier keine {} bei den Variablen in Vue.js um Konflikte mir der Django Syntax zu vermeiden-->
  <script>
    var dashboard = new Vue({
      delimiters: ['[[', ']]'],
      el: '#dashboard',
      data: {
          datasets: datasets,
      },
    });
  </script>
{% endblock %}
