<form method="get" action="{% url 'cm_e_search:search_result'%}">
    <div class="col-xs-6">
        <input type="hidden" name="page" value="1">
        <div class="input-group">

            <input class="form-control" id="entities" list="datalistEntities" name="query" value="" placeholder="Enter your search keyword">

            <datalist id="datalistEntities">
                {% for entity in data %}
                    <option value="{{ entity }}">{{entitiy}}</option>
                {% endfor %}
            </datalist>

            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary search_button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</form>
