// Webpack config for the stylesheet
@use "sass:map";

//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";

// custom theme colors for Judaicalink

  $primary:       #004284 !default;
  $secondary:     #4285f4ff !default;
  $success:       #6f990eff !default;
  $info:          #158999ff !default;
  $warning:       #e58a43ff !default;
  $danger:        #993c2cff !default;
  $light:         #1d489929 !default;
  $dark:          #071f4dff !default;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
);


$border-radius:               0;
$border-radius-sm:            0;
$border-radius-lg:            0;
$border-radius-pill:          0;
$background-color: lighten(map.get($theme-colors, "success"), 5%);
$background-color: #E2EBCF;

$badge-color:                 $background-color;
$badge-border-radius:         .35rem !default;

@import "~bootstrap/scss/bootstrap"; // import all bootstrap


// custom css files
@import "./labs.scss"; //import custom stylesheet

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts"; // import all fontawesome fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome"; // import all fontawesome scss files