<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
          <h5 class="mb-0">
            <i class="fas fa-angle-down rotate-icon"></i>
            Journal (number)
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
           data-parent="#accordionEx">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="journal_search" aria-describedby="jorunal_info" placeholder="journal name">
              <small id="jorunal_info" class="form-text text-muted">Looking for something specific?</small>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="journal_check1">
              <label class="form-check-label" for="journal_check1">Journal 1 (number)</label>
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          </form>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

  <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo2">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
          <h5 class="mb-0">
            <i class="fas fa-angle-down rotate-icon"></i>
            Language (number)
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo2" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
           data-parent="#accordionEx">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="language_search" aria-describedby="language_info" placeholder="journal name">
              <small id="language_info" class="form-text text-muted">Looking for something specific?</small>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="language_check1">
              <label class="form-check-label" for="language_check1">Language 1 (number)</label>
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          </form>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

  </div>
