<div class="accordion md-accordion" id="accordionEx" role="button" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="button" id="headingOne1">
        <a data-toggle="collapse" href="#collapseOne1" aria-expanded="true"
           aria-controls="collapseOne1">
          <h5 class="mb-0">
            <i class="fas fa-angle-down rotate-icon"></i>
            Journal (number)
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="button" aria-labelledby="headingOne1">
        <div class="card-body">
          <form>
            <!--<div class="form-group">
              <input type="text" class="form-control" id="journal_search" aria-describedby="journal_info" placeholder="journal title">
              <small id="journal_info" class="form-text text-muted">Looking for something specific?</small>
            </div>-->
            <div class="form-check">
              {% for journal_title in journals.checked %}
              <input type="checkbox" class="form-check-input" id="{{journal_title}}" value="{{journal_title}}">
              <label class="form-check-label" for="{{journal_title}}">{{journal_title}}</label>
              {% endfor %}

              {% for journal_title in journals.unchecked %}
              <input type="checkbox" class="form-check-input" id="{{journal_title}}" value="{{journal_title}}">
              <label class="form-check-label" for="{{journal_title}}">{{journal_title}}</label>
              {% endfor %}
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          </form>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

  <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="button" id="headingTwo2">
        <a data-toggle="collapse" href="#collapseTwo2" aria-expanded="true"
           aria-controls="collapseTwo2">
          <h5 class="mb-0">
            <i class="fas fa-angle-down rotate-icon"></i>
            Language (number)
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseTwo2" class="collapse show" role="button" aria-labelledby="headingTwo2">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="language_search" aria-describedby="language_info" placeholder="language">
              <small id="language_info" class="form-text text-muted">Looking for something specific?</small>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="language_check1">
              <label class="form-check-label" for="language_check1">Language 1 (number)</label>
            </div>
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
          </form>
        </div>
      </div>

    </div>
    <!-- Accordion card -->

  <!-- Accordion card -->
    <div class="card">

      <!-- Card header -->
      <div class="card-header" role="button" id="headingThree3">
        <a data-toggle="collapse" href="#collapseThree3" aria-expanded="true"
           aria-controls="collapseThree3">
          <h5 class="mb-0">
            <i class="fas fa-angle-down rotate-icon"></i>
            Date of Issue (number)
          </h5>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseThree3" class="collapse show" role="button" aria-labelledby="headingThree3">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="slider-range">Example Range input</label>
              <div class="selector">
                <div class="price-slider">
                    <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                        <!--<div class="ui-slider-range ui-corner-all ui-widget-header"></div>-->
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input id="min-price" type="text" class="form-control" placeholder="from" value="">
                </div>
                -
                <div class="col">
                  <input id="max-price" type="text" class="form-control" placeholder="to">
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- Accordion card -->



  </div>


