
<!-- Footer for pages in JudaicaLink web-->
{% load static %}
<div class="logo_pictures">
    <hr>
<a href="https://www.hdm-stuttgart.de" target="_blank"><img id=hdmlogo src="{% static 'img/HDM-logo.png' %}" alt="HdM Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img id=fidlogo src="{% static 'img/fid-logo.jpg' %}" alt="Fid Logo"/></a>
<a href="https://dm2e.eu" target="_blank"><img id=dmelogo src="{% static 'img/DigitisedManuscriptstoEuropeana.png' %}" alt="Digitised Manuscripts to Europeana Logo"/></a>
<a href="http://www.jewishcultureineurope.org" target="_blank"><img id=jcelogo src="{% static 'img/jewishcultureineurope.png' %}" alt="jewish culture in europe Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de" target="_blank"><img id=ubflogo src="{% static 'img/ubfrankfurt.jpg' %}" alt="ub frankfurt Logo"/></a>
<a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank"><img id=jeulogo src="{% static 'img/Judaica_Europeana.png' %}" alt="Judaica Europeana Logo"/></a>
<a href="https://pro.europeana.eu" target="_blank"><img id=euprologo src="{% static 'img/Europeana_pro.png' %}" alt="Europeana Pro Logo"/></a>
</div>
<div>
<p class="footer"><cite>Copyright &copy; WISS Research Group 2013-2020</cite> |  <a href="/">DISCLAIMER</a></p>
</div>

