{% extends 'search/base.html' %}
{% load static %}

{% block meta %}
    <meta name="keywords" content="judaicalink, search, fulltext, access">
    <meta name="description" content="Search our Compact Memory collection containing over 300 Jewish newspapers and journals of the German speaking area of the years 1768–1938 and beyond.">
{% endblock %}

{% block content %}

<!--content-->
<main class="row">
	<div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8">
        <h1 class="text-center">Compact Memory <br>Fulltext Search</h1>
        <form method="get" action="/cm_search/search_result/">
            <div class="col-xs-6">
                <input type="hidden" name="page" value="1">
                <div class="input-group">
                    <input class="form-control" type="text" name="query" value="" placeholder="Enter your search keyword">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary search_button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <p>The Compact Memory collection comprises over 300 Jewish newspapers and journals of the German speaking area of the years 1768–1938 and beyond. These periodicals represent the complete religious, political, social, literary and academic spectrum of the Jewish community and the "Science of Judaism", thus constituting a major source for the research on Judaism in the Modern Age.
        <br><br>
        Through this interface the user can search the digitized version of the whole collection in fulltext mode. Results are shown by relevance and include, in addition to the text snippet, all metadata about the journal and the edition. For most of the journals are also available the links to the original PDF document of the collection, hosted by the Universitätsbibliothek Frankfurt.
        </p>
    </div>

    <div class="col-md-0 col-lg-3 col-xl-4">
        <div class="alert alert-info text-center mt-4 sticky-top" id="picturemargintop30" role="alert">
            <b>Try some search keywords:</b>
            <ul class="list-unstyled">
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Martin+Buber">Martin Buber</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Franz+Rosenzweig">Franz Rosenzweig</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Einstein">Einstein</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Jerusalem">Jerusalem</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Wissenschaft+des+Judentums">Wissenschaft des Judentums</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Geschichte+der+Juden+in+Deutschland">Geschichte der Juden in Deutschland</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Tel-Aviv">Tel-Aviv</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Zionistenkongress">Zionistenkongress</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=09-11-1939">09-11-1939</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=Oppenheimer">Oppenheimer</a></li>
                <li><i class="fa fa-search-plus"></i> <a href="{url 'cm_search:result'}/?page=1&query=1930">1930</a></li>
            </ul>
        </div>
    </div>
</main>
<!--content end-->

{% endblock content %}
