{% extends 'search/base.html' %}
{% block content %}
{% load static %}

{% include "search/header.html" %}

<!--content-->
<main class="row">

	<div class="col-md-9">

    <h1>Compact Memory Fulltext Search</h1>

    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <form class="searchForm flip" action="/cm_search/search_result/" id="searchForm" name="searchForm" autocomplete="off">
            <div class="col-xs-6">
                <input type="hidden" name="type" id="search-option-type" value="allfields">
                <div class="input-group">
                    <input class="searchForm_lookfor form-control search-query autocomplete searcher:Solr" type="text" name="query" value="">
                    <div class="input-group-btn">
                        <!-- Button and dropdown menu -->
                        <button type="submit" class="btn btn-primary" title="Find"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</main>
<!--content end-->

{% include "search/footer.html" %}

{% endblock content %}
