{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="..">Backend</a>
&rsaquo;
Server Status
</div>
{% endblock %}
{% endif %}


{% block content %}
<div id="content-main">
  <div class="app-backend module">
    <table>
      <caption>Elasticsearch</caption>
      <tbody>
        {% for row in solr %}
        <tr>
          <th scope='row'>{{ row.0 }}:</th>
          <td>{{ row.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="app-backend module">
    <table>
      <caption>Fuseki</caption>
      <tbody>
        {% for row in fuseki %}
        <tr>
          <th scope='row'>{{ row.0 }}:</th>
          <td>{{ row.1 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Menu' %}</h2>
        <h3>{% trans 'Check Status' %}</h3>
            <ul class="actionlist">
            <li class="">
              <a href="{% url 'admin:serverstatus' %}">Server Status</a>
            </li>
            </ul>
    </div>
</div>
{% endblock %}
