
/* labs.css | http://localhost:8000/static/css/labs.css */

@media only screen and (min-width: 1200px) {
  .content {
    /* margin-left: 270px; */
    /* margin-top: -450px; */
  margin-left:0px;
  margin-top:0px;
  }
  .sidebar {
    /* width: 253px; */
    width: 290px;
  }
  .logo {
    margin-left: 10px;
  }
  .sidebar header {
    /* line-height: 55px; */
    line-height: 120px;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    /* margin-left: 220px; */
    /* margin-top: -370px; */
  margin-top:0px;
  margin-left:0px;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    /* margin-left: 175px; */
    /* margin-top: -293px; */
  margin-top:0px;
  margin-left:0px;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    /* margin-left: 150px; */
    /* margin-top: -250px; */
  margin-top:0px;
  margin-left:0px;
  }
}

.container {
  /* margin-left: 270px; */
  margin-top:0px;
  margin-left:20px;
}

.sidebar header {
  /* background-color: #004284; */
  /* color: #004284; */
  background-color: #FFFFFF;
  color: #FFFFFF;
}

body {
  display:flex;
}

label {
 display:inline-block;
 margin-bottom:.5rem;
 position: absolute;
}
