{% extends 'search/base.html' %}
{% block content %}
{% load static %}

{% include "search/header.html" %}

<!--content-->
<main class="row">

	<div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8">

    <h1 class="text-center">Data Enrichments</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Enrichment</th><th>Description</th><th>Command</th>
        </tr>
      </thead>
      <tbody>
        {% for cmd in cmds  %}
        <tr>
          <td>{{ cmd.name }}</td>
          <td>{{ cmd.help }}</td>
          <td><pre>django-admin {{ cmd.name }}</pre></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>

</main>
<!--content end-->

{% include "search/footer.html" %}

{% endblock content %}
