{% load static %}


<footer class="row">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="footer-logos">
            <div class="col-12 col-md-2">
                <a href="https://www.jewishstudies.de" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'img/fid-logo-200.webp' %}" alt="FID logo"/>
                </a>
            </div>

            <div class="col-12 col-md-2">
                <a href="https://www.ub.uni-frankfurt.de" target="_blank" rel="noopener noreferrer">
                    <img id=ubflogo src="{% static 'img/ubfrankfurt-200.webp' %}" alt="ub frankfurt Logo"/>
                </a>
            </div>

            <div class="col-12 col-md-2">
                <a href="https://www.hs-mannheim.de" target="_blank" rel="noopener noreferrer">
                    <img id="hslogo" src="{% static 'img/mannheim-logo-200.webp' %}" alt="HS Mannheim Logo"/>
                </a>
            </div>

            <div class="col-12 col-md-2">
                <a href="https://pro.europeana.eu/project/dm2e" target="_blank" rel="noopener noreferrer">
                    <img id=dmelogo src="{% static 'img/digitisedmanuscriptstoeuropeana-200.webp' %}"
                     alt="Digitised Manuscripts to Europeana Logo"/>
                </a>
            </div>

            <div class="col-12 col-md-2">
                <a href="http://www.jhn.ngo" target="_blank" rel="noopener noreferrer">
                    <img id=jeulogo src="{% static 'img/judaica-europeana-200.webp' %}" alt="Judaica Europeana Logo"/>
                </a>
            </div>

            <div class="col-12 col-md-2">
                <a href="https://pro.europeana.eu" target="_blank" rel="noopener noreferrer">
                    <img id=euprologo src="{% static 'img/europeana-pro-200.webp' %}" alt="Europeana Pro Logo"/>
                </a>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-3 text-center mt-lg-3">
                  <p class="text-grey">&copy WISS Research Group 2013-2025</p>
            </div>
            
<div class="col-12 col-lg-9">
        <nav class="navbar navbar-expand-sm navbar-light">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapseFooter" aria-controls="navbarCollapseFooter" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarCollapseFooter">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="http://web.judaicalink.org/faq"><i class="fa-regular fa-circle-question"></i> FAQ</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://data.judaicalink.org/sparql.html"><i class="fa-solid fa-magnifying-glass-chart"></i> SPARQL</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://web.judaicalink.org/about-us"><i class="fa-solid fa-circle-info"></i> About</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/judaicalink"><i class="fa-brands fa-github"></i> Github</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://web.judaicalink.org/legal"><i class="fa-solid fa-scale-balanced"></i> Disclaimer</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://web.judaicalink.org/legal"><i class="fa-solid fa-shield-halved"></i> Privacy Policy</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{%  url 'contact:contact' %}"><i class="fa-regular fa-envelope"></i> Contact</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
        </div>

    {% if settings.DEBUG %}
    <div class="col-md-12 alert alert-danger">
        <a class="btn btn-danger" data-bs-toggle="collapse" href="#debug" role="button" aria-expanded="false"
           aria-controls="debug">
            Debug
        </a>
        <div class="collapse" id="debug">
            <div class="card card-body alert alert-danger">
                <pre> {% filter force_escape %} {% debug %} {% endfilter %}</pre>
            </div>
        </div>

    </div>
    {% endif %}

</footer>
