{% load static %}

<!-- Page Header -->
<header class="row">
    <div class="col-md-12">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary buttonnav">
            <!-- tablet and laptop sizes start with x-button -->
            <i class="fa-solid fa-xmark d-none d-sm-block"></i>
            <!-- smartphone size starts with hamburger-menu-button (because the sidebar is collapsed)-->
            <i class="fa-solid fa-bars d-sm-none"></i>
        </button>


        <div class="header-logos">
            <a href="/labs/search/static"><img src="{% static 'img/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'img/fid-logo.jpg'%}" alt="FID logo" class="logofid d-none d-md-block"/></a>
        </div>

    </div>

</header>

<!-- Page Header -->


