Django>=2.2.8
channels>=2.4.0
elasticsearch>=7.1.0
PyYAML>=5.3
rdflib>=4.2.2
requests>=2.22.0
SPARQLWrapper>=1.8.4
toml>=0.10.0
libsass==0.20.0
django-compressor==2.2
django-crispy-forms==1.11.1
django-sass-processor==0.8
django-environ==0.8.1
django-hcaptcha==0.2.0
django-active-link==0.1.8