{% extends 'search/base.html' %}

{% block meta_all_search_nav %}
    <meta name="keywords" content="judaicalink, search, explore, knowledge graph, compact memory, fulltext search, entity search, compact memory entity search">
    <meta name="description" content="Here you can choose how you want to search and access our data.">
{% endblock %}

{% load static %}


{% block content %}

<main class="row">

    <div class="col-12 text-center">

        <h1 class="text-center">Explore JudaicaLink</h1>

        <div class="card-group">


            <div class="card">
                <img class="card-img-top" src="/static/img/all_search_nav_knowledge_graph.jpeg"
                     alt="JudaicaLink Knowledge Graph">
                <div class="card-body">
                    <h5 class="card-title">Data from Knowledge Graph</h5>
                    <p class="card-text">Here you can search for fields such as name, location, birth and death
                        date.</p>
                </div>
                <div class="card-footer bg-white">
                    <a href="{% url 'search:judaicalink_search_index' %}" class="btn btn-primary search_button">JudaicaLink
                        Search</a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="/static/img/books.jpg" alt="Compact memory newspaper stack">
                <div class="card-body">
                    <h5 class="card-title">Newspapers and Journals</h5>
                    <p class="card-text">The Compact Memory collection comprises over 300 Jewish newspapers and journals
                        of the German speaking area of the years 1768–1938 and beyond.</p>
                </div>
                <div class="card-footer bg-white">
                    <a href="{% url 'cm_search:cm_search_index' %}" class="btn btn-primary search_button">Compact Memory
                        Search</a>
                </div>
            </div>


            <div class="card">
                <img class="card-img-top" src="/static/img/Westend-synagoge.jpg" alt="Westend synagoge">
                <div class="card-body">
                    <h5 class="card-title">Persons and Places</h5>
                    <p class="card-text">Search for persons and places from the Compact Memory collection linked to
                        JudaicaLink entries.</p>
                </div>
                <div class="card-footer bg-white">
                    <a href="{% url 'cm_e_search:entity_search_index' %}" class="btn btn-primary search_button">Compact Memory
                        Entity Search</a>
                </div>
            </div>


        </div>

    </div>
</main>

{% endblock %}
