{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JudaicaLink labs</title>
    {% load sass_tags %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'bootstrap-4.4.1/scss/bootstrap.scss' %} ">
    <!--<link rel="stylesheet" href="{% static 'css/search.css' %} ">-->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/simplePagination.css' %} ">
    <!--<link rel="stylesheet" href="{% static 'css/wiss.css' %} ">-->
    <link rel="stylesheet" href="{% static 'css/labs.css' %} "> <!-- css for root.html -->
   <!-- css for root.html -->
</head>

<body>
{% include "search/responsive_sidebar.html" %}
<div class="container">
{% block content %}
{% endblock content %}
</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js_labs.js' %}"></script>
   <!--s. unten Symbole bei der sidebar-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</body>
</html>
