{% load static %}
{% load cookiebanner %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta_index %}{% endblock %}
    {% block meta_search_index %}{% endblock %}
    {% block meta_all_search_nav %}{% endblock %}
    {% block meta_contact %}{% endblock %}
    {% block meta_cm_index %}{% endblock %}
    {% block meta_cme_index %}{% endblock %}

    <title>JudaicaLink labs</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css.gz' %}">

    {% block header_scripts %}{% endblock %}

</head>

<body>
<script src="{% static 'js/bundle.js.gz' %}"></script>
{% cookiebanner_modal 'vanilla' %}

<div class="container-fluid">
    <div class="col-3">
        {% include "search/sidebar.html" %}
    </div>
    <div id="content" class="col-9">
        <div class="row">
            {% include "search/header.html" %}
        </div>
        <div class="row">
            {% block content %}
            {% if debug %}
            <div class="modal fade" id="developmentAlert" tabindex="-1" aria-labelledby="developmentAlertLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="developmentAlertLabel">Development Mode</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            The server is currently under development, and some features might not work as expected.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {{ block.super }}
            {% endblock %}

        </div>
        <div class="row">
            {% include "search/footer.html" %}
        </div>
    </div>
</div>


{% block footer_scripts %}

{% endblock %}




{% cookie_accepted 'analytics' as cookie_analytics %}

{% if cookie_analytics %}
<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//web.judaicalink.org/matomo/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<!-- End Matomo Code -->
{% endif %}
{% if debug %}
<script>
        document.addEventListener('DOMContentLoaded', function () {
    var developmentAlert = new bootstrap.Modal(document.getElementById('developmentAlert'));
    developmentAlert.show();
    });
</script>
{% endif %}
</body>
</html>
