<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer labs</title>
</head>
<body>
{% load static %}

<img class="responsive" id=hdmlogo src="/static/images/HDM-logo.png" alt="HdM Logo"/>
<img class="responsive" id=fidlogo src="/static/images/fid-logo.jpg" alt="Fid Logo"/>

<div class="footer">
<p><a href="/">VISION  </a>   |   <a href="/">NEWS  </a>   |   <a href="/">FAQ  </a>   |   <a href="/">ABOUT US</a></p>
<p><cite>Copyright &copy; WISS Research Group 2013-2020</cite> |  <a href="/">DISCLAIMER</a></p>
</div>
</body>
</html>
