<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer web</title>
</head>
<body>
<!-- Footer for pages in JudaicaLink web-->
{% load static %}
<img id=hdmlogo src="{% static 'images/HDM-logo.png' %}" alt="HdM Logo"/>
<img id=fidlogo src="{% static 'images/fid-logo.jpg' %}" alt="Fid Logo"/>
<img id=dmelogo src="{% static 'images/DigitisedManuscriptstoEuropeana.png' %}" alt="Digitised Manuscripts to Europeana Logo"/>
<img id=jcelogo src="{% static 'images/jewishcultureineurope.png' %}" alt="jewish culture in europe Logo"/>
<img id=ubflogo src="{% static 'images/ubfrankfurt.jpg' %}" alt="ub frankfurt Logo"/>
<img id=jeulogo src="{% static 'images/Judaica_Europeana.png' %}" alt="Judaica Europeana Logo"/>
<br><br><br><br>

<p align="center"><cite>Copyright &copy; WISS Research Group 2013-2020</cite> |  <a href="/">DISCLAIMER</a></p>

</body>
</html>
