<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer web</title>
</head>
<body>
<!-- Footer for pages in JudaicaLink web-->
{% load static %}
<a href="https://www.hdm-stuttgart.de"><img id=hdmlogo src="{% static 'images/HDM-logo.png' %}" alt="HdM Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de/judaica3/home.html"><img id=fidlogo src="{% static 'images/fid-logo.jpg' %}" alt="Fid Logo"/></a>
<a href="https://dm2e.eu"><img id=dmelogo src="{% static 'images/DigitisedManuscriptstoEuropeana.png' %}" alt="Digitised Manuscripts to Europeana Logo"/></a>
<a href="http://www.jewishcultureineurope.org"><img id=jcelogo src="{% static 'images/jewishcultureineurope.png' %}" alt="jewish culture in europe Logo"/></a>
<a href="https://www.ub.uni-frankfurt.de"><img id=ubflogo src="{% static 'images/ubfrankfurt.jpg' %}" alt="ub frankfurt Logo"/></a>
<a href="http://www.jhn.ngo/judaica-europeana-archive/"><img id=jeulogo src="{% static 'images/Judaica_Europeana.png' %}" alt="Judaica Europeana Logo"/></a>
<br><br><br><br>

<p align="center"><cite>Copyright &copy; WISS Research Group 2013-2020</cite> |  <a href="/">DISCLAIMER</a></p>

</body>
</html>
