{% load static %}


<footer class="row">
    <div class="col-md-12">
        <hr>
        <div class="footer-logos">
            <a href="https://www.hdm-stuttgart.de" target="_blank" rel="noopener noreferrer"><img id=hdmlogo
                                                                                                  src="{% static 'img/HDM-logo.png'%}"
                                                                                                  alt="HdM Logo"/></a>
            <a href="https://dm2e.eu" target="_blank" rel="noopener noreferrer"><img id=dmelogo
                                                                                     src="{% static 'img/DigitisedManuscriptstoEuropeana.png'%}"
                                                                                     alt="Digitised Manuscripts to Europeana Logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de" target="_blank" rel="noopener noreferrer"><img id=ubflogo
                                                                                                     src="{% static 'img/ubfrankfurt.jpg'%}"
                                                                                                     alt="ub frankfurt Logo"/></a>
            <a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank" rel="noopener noreferrer"><img
                    id=jeulogo src="{% static 'img/Judaica_Europeana.png'%}" alt="Judaica Europeana Logo"/></a>
            <a href="https://pro.europeana.eu" target="_blank" rel="noopener noreferrer"><img id=euprologo
                                                                                              src="{% static 'img/Europeana_pro.png'%}"
                                                                                              alt="Europeana Pro Logo"/></a>
            <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'img/fid-logo.jpg'%}" alt="FID logo" class="logofidfooter d-md-none"/></a>
        </div>
        <div class="footer-content">
            <pre>Copyright &copy; WISS Research Group 2013-2021</pre>
            <pre><a href="http://web.judaicalink.org/faq">FAQ</a> | <a
                    href="http://web.judaicalink.org/about-us">About</a> | <a href="http://web.judaicalink.org/legal">Disclaimer</a> | <a
                    href="http://web.judaicalink.org/legal">Privacy Policy</a> | <a href="{%  url 'contact:contact' %}">Contact</a> | <a
                    href="https://github.com/judaicalink">Github</a></pre>

        </div>
    </div>

    {% if debug %}
    <div class="col-md-12 alert alert-danger">
        <a class="btn btn-danger" data-toggle="collapse" href="#debug" role="button" aria-expanded="false"
           aria-controls="debug">
            Debug
        </a>
        <div class="collapse" id="debug">
            <div class="card card-body alert alert-danger">
                 <pre> {% filter force_escape %} {% debug %} {% endfilter %}</pre>
            </div>
        </div>

    </div>
    {% endif %}

</footer>
