
<!-- Footer for pages in JudaicaLink labs-->
{% load static %}
    <hr>

<div class="row pt-5 pb-3 justify-content-end">
        <!-- <div class="logo_pictures"> -->
            <div class="col-sm-1">
                <a href="https://www.hdm-stuttgart.de" target="_blank"><img id=hdmlogo src="{% static 'images/HDM-logo.png' %}" alt="HdM Logo"/></a>
            </div>
            <div class="col-sm-1">
                <a href="https://dm2e.eu" target="_blank"><img id=dmelogo src="{% static 'images/DigitisedManuscriptstoEuropeana.png' %}" alt="Digitised Manuscripts to Europeana Logo"/></a>
            </div>
            <div class="col-sm-1">
                <a href="http://www.jewishcultureineurope.org" target="_blank"><img id=jcelogo src="{% static 'images/jewishcultureineurope.png' %}" alt="jewish culture in europe Logo"/></a>
            </div>
            <div class="col-sm-1">
                <a href="https://www.ub.uni-frankfurt.de" target="_blank"><img id=ubflogo src="{% static 'images/ubfrankfurt.jpg' %}" alt="ub frankfurt Logo"/></a>
            </div>
            <div class="col-sm-1">
                <a href="http://www.jhn.ngo/judaica-europeana-archive/" target="_blank"><img id=jeulogo src="{% static 'images/Judaica_Europeana.png' %}" alt="Judaica Europeana Logo"/></a>
            </div>
            <div class="col-sm-1">
                <a href="https://pro.europeana.eu" target="_blank"><img id=euprologo src="{% static 'images/Europeana_pro.png' %}" alt="Europeana Pro Logo"/></a>
            </div>
        <!-- </div> -->
</div>

<div class="row bg-dark text-light pt-3">
  <div class="col-5 offset-1">
       <p>Copyright &copy; WISS Research Group 2013-2020</p>
  </div>
  <div class="col-6">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/">DISCLAIMER  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">NEWS  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">FAQ  </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">ABOUT US</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</div>
