
{% load static %}


<!--content
<div class="header">
<img src="{% static 'img/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo"/>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/fid-logo.jpg' %}" alt="FID logo" class="logofid"/></a>
</div>
<a href="https://github.com/wisslab/judaicalink-portal" target="_blank" rel="noopener noreferrer"><img id="forkmeongithub" src="{% static 'img/forkmeongithub-blue.png' %}" alt="Fork me on GitHub"></a>
    <div class="content">
<h1>Experimental full text search online</h1>
<p>Thu, May 31, 2018

We have some news regarding search functionality in JudaicaLink.

As we said earlier, we plan to develop a full text search for JudaicaLink. Today, we launch a first version of it, although it is still very limited.

You can now search our data, backed by ElasticSearch. We are currently mainly working again on the backend part of this, like the processes to populate the search index, the integration with the data pages and so on.

This first search functionality is therefore very limited: you can search in a subset of our data fields (name/title, abstract, birthDate, deathDate, birthLocation, deathLocation) and only the first 10 results (if any) are shown, as simple links to the data pages.

We nevertheless think this is already useful (at least we use it), as this way you can quickly find out, if there are some matching resources available in JudaicaLink, and you can also find quickly some new entries to explore our dataset.

So have fun with it - and be patient, it is still under heavy development and things inevitably will break.<br><br>We have some news regarding search functionality in JudaicaLink.

As we said earlier, we plan to develop a full text search for JudaicaLink. Today, we launch a first version of it, although it is still very limited.

You can now search our data, backed by ElasticSearch. We are currently mainly working again on the backend part of this, like the processes to populate the search index, the integration with the data pages and so on.

This first search functionality is therefore very limited: you can search in a subset of our data fields (name/title, abstract, birthDate, deathDate, birthLocation, deathLocation) and only the first 10 results (if any) are shown, as simple links to the data pages.

We nevertheless think this is already useful (at least we use it), as this way you can quickly find out, if there are some matching resources available in JudaicaLink, and you can also find quickly some new entries to explore our dataset.

So have fun with it - and be patient, it is still under heavy development and things inevitably will break.</p>
</div>
content-->

        <!-- Page Header -->
<header class="row">
    <div class="col-md-12">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary buttonnav">
            <!-- tablet and laptop sizes start with x-button -->
            <i class="fas fa-times d-none d-sm-block"></i>
            <!-- smartphone size starts with hamburger-menu-button (because the sidebar is collapsed)-->
            <i class="fas fa-bars d-sm-none"></i>
                    </button>


        <div class="header-logos">
       <a href="/"><img src="{% static 'img/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo"/></a>
    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/fid-logo.jpg'%}" alt="FID logo" class="logofid d-none d-md-block"/></a>
        </div>

    </div>

</header>

    <!-- Page Header -->


