{% load static %}

<div class="row searchbar">
    <div class="col-12 header">
        {% include 'search/navbar.html' %}

    </div>
    <div class="col-6 mx-auto my-auto pt-1 pb-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg">
                <div class="input-group-append">
                    <span class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fas fa-search fa-2x" ></i>Search</span>
                </div>
            </div>
        </div>
</div>

