{% load static %}

<!-- Drobdown Menu-->

 {% block navbar %}

<a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><img src="{% static 'images/fid-logo.jpg' %}" alt="FID logo" class="logofid"/></a>
    <div class="dropdown">
    <img src="{% static 'images/logo_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo"/>

    <div class="dropdown-content">
        <p><a class="navbarlink" href="./">Datasets</a></p>
        <p><a class="navbarlink" href="search/">Search</a></p> <!-- Link auf Suche funktioniert (search_index.html)-->
        <p><a class="navbarlink" href="#">Root</a></p>
        <p><a class="navbarlink" href="./">App 1</a></p>
        <p><a class="navbarlink" href="./">Web</a></p>
    </div>
    </div>
    {% endblock navbar %}
