{% load static %}


  <!--Logo Bereich-->

<!--Logo Bereich-->

<!--<input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-bars" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>
    <img src="{% static 'img/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo_sidebar"/>

        </header>
        <div class="sidebar_content">
  <ul>
      &lt;!&ndash;classes hier definieren nur die symbole in der Navbar&ndash;&gt;
    <li><a href="../"><i class="fas fa-home"></i>Root</a></li> {%comment%}&lt;!&ndash; eig müsste das so verlinkt werden können"{% url 'search' 'search_index'%}"&ndash;&gt;{%endcomment%}
    <li><a href="{% url 'search:search_index'%}"><i class="fas fa-search"></i>Search</a></li>
    <li><a href="{% url 'search_index' %}"><i class="fas fa-search"></i>CM Search</a></li>
    <li><a href="http://www.judaicalink.org/datasets/"><i class="fas fa-table"></i>Datasets</a></li>
  </ul>
        </div>
</div>-->

<div class="wrapper">

      <!-- Page Navigation -->

      <nav id="sidebar" class="p-3">
            <ul class="list-unstyled components  nav flex-column">
                <li class="nav-item {% if request.resolver_match.view_name == "index" %}active{% endif %}">
                    <a class="nav-link" href="/" ><i class="fas fa-home"></i>  Labs Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.namespace == "search" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'search:search_index'%}"><i class="fas fa-search"></i>  JudaicaLink Search</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == "search_index" %}active{% endif %}">
                    <a class="nav-link" href="{% url 'search_index' %}"><i class="fas fa-search"></i>  Compact Memory Search</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == "datasets" %}active{% endif %}">
                    <a class="nav-link" href="http://web.judaicalink.org/datasets/"><i class="fas fa-table"></i>  Datasets</a>
                </li>
                <li class="nav-item {% if request.resolver_match.view_name == "news" %}active{% endif %}">
                    <a class="nav-link" href="http://web.judaicalink.org/news"><i class="fas fa-comment"></i>  News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><i class="fas fa-hanukiah"></i>  FID Jewish Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://web.judaicalink.org/faq"><i class="fas fa-question-circle"></i> FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://web.judaicalink.org/about-us"><i class="fas fa-info-circle"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://web.judaicalink.org/legal"><i class="fas fa-shield-alt"></i> Disclaimer</a>
                </li>
            </ul>
        </nav>
</div>
      <!-- Page Navigation -->


