{% load static %}


  <!--Logo Bereich-->

<!--Logo Bereich-->

<!--<input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-bars" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>
    <img src="{% static 'img/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo_sidebar"/>

        </header>
        <div class="sidebar_content">
  <ul>
      &lt;!&ndash;classes hier definieren nur die symbole in der Navbar&ndash;&gt;
    <li><a href="../"><i class="fas fa-home"></i>Root</a></li> {%comment%}&lt;!&ndash; eig müsste das so verlinkt werden können"{% url 'search' 'search_index'%}"&ndash;&gt;{%endcomment%}
    <li><a href="{% url 'search:search_index'%}"><i class="fas fa-search"></i>Search</a></li>
    <li><a href="{% url 'search_index' %}"><i class="fas fa-search"></i>CM Search</a></li>
    <li><a href="http://www.judaicalink.org/datasets/"><i class="fas fa-table"></i>Datasets</a></li>
  </ul>
        </div>
</div>-->

<div class="wrapper">

      <!-- Page Navigation -->

      <nav id="sidebar">

            <div class="sidebar-header">

            </div>

            <ul class="list-unstyled components">
                <li class="{% if request.resolver_match.view_name == "index" %}active{% endif %}">
                    <a href="/" ><i class="fas fa-home"></i>  Labs Home</a>
                </li>
                <li class="{% if request.resolver_match.namespace == "search" %}active{% endif %}">
                    <a href="{% url 'search:search_index'%}"><i class="fas fa-search"></i>  JudaicaLink Search</a>
                </li>
                <li class="{% if request.resolver_match.view_name == "search_index" %}active{% endif %}">
                    <a href="{% url 'search_index' %}"><i class="fas fa-search"></i>  Compact Memory Search</a>
                </li>
                <li>
                    <a href="http://web.judaicalink.org/datasets/"><i class="fas fa-table"></i>  Datasets</a>
                </li>
                <li>
                    <a href="http://web.judaicalink.org/news"><i class="fas fa-comment"></i>  News</a>
                </li>
                <li>
                    <a href="https://www.ub.uni-frankfurt.de/judaica3/home.html" target="_blank"><i class="fas fa-hanukiah"></i>  FID Jewish Studies</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-eye"></i>  Background</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="http://web.judaicalink.org/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="http://web.judaicalink.org/about-us">About</a>
                        </li>
                        <li>
                            <a href="http://web.judaicalink.org/legal">Disclaimer</a>
                        </li>
                    </ul>
                </li>
            </ul>
          <div class="weblabsdatalogos">
          <a href="#"><img src="{% static '/img/frei_web.png'%}" alt="Web Logo" class="weblabsdatalogo"/></a>
          <a href="#"><img src="{% static '/img/frei_labs.png'%}" alt="Labs Logo" class="weblabsdatalogo"/></a>
          <a href="#"><img src="{% static '/img/frei_data.png'%}" alt="Data Logo" class="weblabsdatalogo"/></a>
              </div>
        </nav>

      <!-- Page Navigation -->


