{% load static %}

<!-- Drobdown Menu-->

 {% block navbar %}
    <div class="dropdown">
    <img src="/static/images/JudaicaLink_labs_logo.png" alt="JudaicaLink labs logo" class="logo"/>
    <div class="dropdown-content">
        <p><a class="navbarlink" href="./">Datasets</a></p>
        <p><a class="navbarlink" href="./">Search</a></p>
        <p><a class="navbarlink" href="./">App 1</a></p>
        <p><a class="navbarlink" href="./">App 2</a></p>
        <p><a class="navbarlink" href="./">Web</a></p>
    </div>
    </div>
    {% endblock navbar %}
