<div class="col-lg-4 col-sm-12">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-primary">NEWS</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Mon, July 16, 2018: Explore our project GitHub
            </li>
            <li class="list-group-item">
                Mon, June 18, 2018: Search Improvements
            </li>
            <li class="list-group-item">
                Thu, May 31, 2018: Experimental full text search online
            </li>
        </ul>
        <div class="card-body">
            <a href="/" class="card-link">read more</a>
        </div>

    </div>
</div>