{% if pages|length > 1 %}
<nav aria-label="Search Results Pagination">
    <ul class="pagination justify-content-center">

        <!-- Previous Button -->
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{% if current_page > 1 %}{% url 'search:search' %}?page={{ current_page-1 }}&sort={{ sort_order }}{% endif %}" tabindex="-1">Previous</a>
        </li>

        <!-- Page Numbers -->
        {% for page in pages %}
            {% if pages|length > 10 %}
                {% if page == 1 or page == pages|last or (page >= current_page|add:"-2" and page <= current_page|add:"2") %}
                    <li class="page-item {% if page == current_page %}active{% endif %}">
                        <a class="page-link" href="{% url 'search:search' %}?page={{ page }}&sort={{ sort_order }}">{{ page }}</a>
                    </li>
                {% elif page == 2 or page == pages|last|add:"-1" %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link" href="{% url 'search:search' %}?page={{ page }}&sort={{ sort_order }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- Next Button -->
        <li class="page-item {% if current_page == pages|last %}disabled{% endif %}">
            <a class="page-link" href="{% if current_page < pages|last %}{% url 'search:search' %}?page={{ current_page+1 }}&sort={{ sort_order }}{% endif %}">Next</a>
        </li>

    </ul>
</nav>
{% endif %}
