{% load static %}
{% block navbar %}

<nav id="sidebar" class="sidebar">
    <div class="p-4">
        <header>
            <img src="{% static 'images/transp_judaica_labs.png' %}" alt="JudaicaLink labs logo" class="logo_sidebar"/>
        </header>
        <ul class="list-unstyled components mb-5">
            <li><a href="../"><i class="fas fa-home"></i>Root</a></li> {%comment%}<!-- eig müsste das so verlinkt werden können"{% url 'search' 'search_index'%}"-->{%endcomment%}
            <li><a href="{% url 'search:search_index'%}"><i class="fas fa-search"></i>Search</a></li>
            <li><a href="#"><i class="fas fa-search"></i>CM Search</a></li>
            <li><a href="http://www.judaicalink.org/datasets/"><i class="fas fa-sliders-h"></i>Datasets</a></li>
        </ul>
    </div>
</nav>

{% endblock navbar %}
