{% extends 'search/base.html' %}
{% block content %}
    {% load static %}

        <!-- header -->
        {%  include 'search/header.html' %}
        <!-- header -->

    <div class="row pt-5">
        <!--content-->
        {% include 'search/content.html' %}
        <!--content-->
        <!--NEWS-->
        {% include 'search/news.html' %}
        <!--NEWS-->
    </div>

    <!--footer-->
    {% include "search/footer_labs.html" %}
    <!--footer-->

{% endblock content %}

