{% extends 'search/base.html' %}
{% block content %}
{% load static %}

{% include "search/header.html" %}

<!--content-->
<main class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-8">



<h1 class="text-center text-md-left">Welcome to JudaicaLink Labs!</h1>
<p>JudaicaLink Labs is a brand new portal where we aim at making various apps available to scholars and interested users to search and interact with our data.</p>



<!--<img src="/img/homepage-graphics.png" alt="Linked Data Web"/>-->
<h2 class="text-center text-md-left">Apps</h2>
<p>For now, we provide the following apps:
<ul>
  <li><b>JudaicaLink Search:</b> Full-text search on our knowledge graph, e.g. the data we extract from sources like online encyclopedia.</li>
  <li><b>Compact Memory Search:</b> Full-text search on <a href='http://sammlungen.ub.uni-frankfurt.de/cm/nav/index/title/'>Compact Memory</a>, a database of newspaper and journal articles from the 19th century.</li>
</ul>

</p>

</div>
	<div class="col-lg-3 col-xl-4">
		<img src="{% static '/img/brille.jpg'%}" class="img-thumbnail" height="auto" width="100%"></img>

	</div>

</main>

<!--content end-->
{% include "search/footer.html" %}


{% endblock content %}
