{% extends 'search/base.html' %}
{% block content %}
{% load static %}

{% include "search/header.html" %}

<!--content-->
<main class="row">

	<div class="col-12 col-sm-12 ml-xl-0 col-md-12 col-lg-9 col-xl-8">

    <h1 class="text-center">JudaicaLink Search</h1>


        <form method="get" action="search">
            <div class="col-xs-6">
                <input type="hidden" name="page" value="1">
                <div class="input-group">
                    <input class="form-control" type="text" name="lookfor" value="" placeholder="Enter your search keyword">
                    <div class="input-group-btn" >
                        <button type="submit" class="btn btn-light search_button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
<br>
<p>
Here you can access the JudaicaLink Knowledge Graph via a full text search on fields such as label, birth and death dates as well as locations.
</p>

        <img src="/static/img/JudaicaLink_Knowledge_Graph.jpg" class="img-thumbnail img-fluid mt-4" alt="Judaicalink Knowledge Graph">
    </div>

                <div class="col-md-0 col-lg-3 col-xl-4">
    <div class="alert alert-info text-center mt-4 sticky-top" id="picturemargintop30" role="alert">
        <b>Try some search keywords:</b>
        <ul class="list-unstyled">
            <li><i class="fa fa-search-plus"></i> Hamburg</li>
            <li><i class="fa fa-search-plus"></i> Ascher Saul</li>
            <li><i class="fa fa-search-plus"></i> Moscow</li>
            <li><i class="fa fa-search-plus"></i> Braude Markus</li>
            <li><i class="fa fa-search-plus"></i> Ulm</li>
            <li><i class="fa fa-search-plus"></i> 1879-03-14</li>
            <li><i class="fa fa-search-plus"></i> Edel, Peter</li>
            <li><i class="fa fa-search-plus"></i> 1861</li>
            <li><i class="fa fa-search-plus"></i> Universität</li>
            <li><i class="fa fa-search-plus"></i> Peláez del Rosal, Jesús</li>
        </ul>
    </div>
</div>
</main>
<!--content end-->

{% include "search/footer.html" %}

{% endblock content %}
