<div id="accordion">

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <form method="get" action="search/search">
            <div class="col-xs-6">
                <input type="hidden" name="page" value="1">
                <div class="input-group">
                    <input class="form-control" type="text" name="input0" value="" placeholder="Search...">
                    <div class="input-group-btn" >
                        <button type="submit" class="btn btn-primary search_button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="headingOne">
        <button id="buttonadvancedsearch" type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#0056b3">
            Advanced Search
        </button>
    </div >

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card">
            <div class="card-body">
                {% verbatim %}
                <div id="app">
                <form  method="get" action="search/search">
                    <input type="hidden" name="page" value="1">
                    <div v-for="(row, index) in rows" class="form-row">
                        <!--Operator-->
                        <div v-if="index > 0" class="form-group col-2">
                            <select v-model="row.selected_operator" class="form-control" :name="row.operator">
                                <option v-for="(operator) in row.other_operators" v-bind:value="operator.fieldname">{{operator.display}}</option>
                            </select>
                        </div>
                        <div v-if="index < 1" class="form-group col-2">
                            <!--Placeholder for missing Operators in first row-->
                        </div>
                        <!--Option-->
                        <div class="form-group col-4">
                            <select v-model="row.selected_option" class="form-control" :name="row.option">
                                <option v-for="(option) in row.other_options" v-bind:value="option.fieldname">{{option.display}}</option>
                            </select>
                        </div>
                        <!--Input-->
                        <div class="form-group col-5">
                            <input v-model="row.submitted_input" type="text" :name="row.input" class="form-control" value="">
                        </div>
                        <!--@click="removeElement(index);"-->
                        <div class="form-group col-1">
                            <button type="button" class="btn btn-danger" @click="removeElement(index)"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary search_button float-right"><i class="fas fa-search"></i> Search</button>
                </form>
                <button class="btn btn-primary search_button" @click="addRow()"><i class="fas fa-plus"></i> Add</button>
                <button class="btn btn-danger" @click="clearElements(), addRow(), addRow()">Clear All</button>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
