{% extends 'search/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Search Index</title>
</head>
<body>

{% load static %}

<div>
{% include "search/header.html" %}
</div>
<div class="col-md-8">
    <div class="search" align="center">
        <h1>SEARCH  OUR DATA</h1>
        <form action="{% url 'search_index' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search_term" id="search_term">
            <br><br>
            <input type="submit" value="Start Search">
        </form>
    </div>
<br><br><br>
<p>
	<a href="http://www.jewishstudies.de"><img src="/static/images/fid-logo.jpg" alt="FID Logo"/></a>
</p>
</div>

{% include "search/sidebar.html" %}

{% include "search/footer.html" %}

</body>
{% endblock content %}
