{% extends "core/base.html" %}
{% load lod_tags %}
{% block content %}
  <div class="row">  
  <div class='col'>
  <table class='table'>
    <thead class='grid-head'>
      <th colspan='2'class='text-right'>
        <i class='fas fa-arrow-right'></i>
      </th>
    </thead>
    <tbody>
    {% for property, values in reverse.items %}
        {% for value in values  %}
          <tr>
          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><small>{% last_path value.2 %}</small>
          </td>
          {% if forloop.first %}
            <th scope='row' rowspan='{{values | length}}'>{% last_path property %}</th>
          {% endif %}
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  <div class='col'>
  <table class='table'>
    <thead class='thead-dark grid-head'>
      <th colspan='2'>
        {{label}}
        <br/><small>{{subject}}</small>
      </th>
    </thead>
    <tbody>
    {% for property, values in data.items %}
        {% for value in values  %}
          <tr>
          {% if forloop.first %}
            <th scope='row' rowspan='{{values | length}}'>{% last_path property %}</th>
          {% endif %}
          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><small>{% last_path value.2 %}</small>
          </td>
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  <div class='col'>
  <table class='table'>
    <thead class='grid-head'>
      <th colspan='2'>
        <i class='fas fa-arrow-right'></i>
      </th>
    </thead>
    <tbody>
    {% for property, values in right.items %}
        {% for value in values  %}
          <tr>
          {% if forloop.first %}
            <th scope='row' rowspan='{{values | length}}'>{% last_path property %}</th>
          {% endif %}
          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><small>{% last_path value.2 %}</small>
          </td>
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  </div>  
{% endblock %}
