{% extends "core/base.html" %}
{% load lod_tags %}
{% block content %}
  <div class="row">  
  <div class='col-3'>
  <table class='table'>
    <thead class='grid-head'>
      <th colspan='2'class='text-right'>
        <i class='fas fa-arrow-right'></i>
      </th>
    </thead>
    <tbody>
    {% for property, values in reverse.items %}
        {% for value in values  %}
        {% if forloop.first %}
          <tr>
        {% else %}
          <tr class='collapse left-collapse-{% last_path property %}'>
        {% endif %}

          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><span class='graph'>{% last_path value.2 %}</span>
          </td>
          {% if forloop.first %}
          <th>{% last_path property %}<br/>
              {% if forloop.revcounter > 1 %}
              <a class="expandlist" data-toggle="collapse" data-target=".left-collapse-{% last_path property %}" aria-expanded="false"></a>
              {% endif %}
            </th>
          {% else %}
          <td class+'noborder'></td>
          {% endif %}
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  <div class='col-6'>
  <table class='table'>
    <thead class='thead-dark grid-head'>
      <th colspan='2'>
        {{label}}
        <br/><small>{{subject}}</small>
      </th>
    </thead>
    <tbody>
    {% for property, values in data.items %}
        {% for value in values  %}
          {% if forloop.first %}
          <tr>  
            <th scope='row'>{% last_path property %}<br/>
              {% if forloop.revcounter > 1 %}
              <a class="expandlist" data-toggle="collapse" data-target=".center-collapse-{% last_path property %}" aria-expanded="false"></a>
              {% endif %}
            </th>
          {% else %}
          <tr class='collapse center-collapse-{% last_path property %}'>
            <td class='noborder'></td>
          {% endif %}
            
          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><span class='graph'>{% last_path value.2 %}</span>
          </td>
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  <div class='col-3'>
  <table class='table'>
    <thead class='grid-head'>
      <th colspan='2'>
        <i class='fas fa-arrow-right'></i>
      </th>
    </thead>
    <tbody>
    {% for property, values in right.items %}
        {% for value in values  %}
          {% if forloop.first %}
          <tr>  
            <th scope='row'>{% last_path property %}<br/>
              {% if forloop.revcounter > 1 %}
              <a class="expandlist" data-toggle="collapse" data-target=".right-collapse-{% last_path property %}" aria-expanded="false"></a>
              {% endif %}
            </th>
          {% else %}
          <tr class='collapse right-collapse-{% last_path property %}'>
            <td class='noborder'></td>
          {% endif %}
          <td>
          {% if value.1 %}
            <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a>
          {% else %}
            {{ value.0 }}
          {% endif %}
          <br/><span class='graph'>{% last_path value.2 %}</span>
          </td>
          </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
  </div>
  </div>  
{% endblock %}
