{% extends "core/base.html" %}
{% load lod_tags %}
{% block content %}
  
  {% for subject, properties in data.items %}
  <h2>{{ subject }}</h2>
  <table class='table table-striped'>
    <thead class='thead-dark'>
      <th colspan='2'>
        {{subject}}
      </th>
    </thead>
    <tbody>
    {% for property, values in properties.items %}
    <tr>
      <th scope='row'>{{ property }}</th>
      <td>
        {% for value in values  %}
        {% if value.1 %}
        <a href="{% local value.1 %}" title="{{value.1}}">{{value.0}}</a><br/>
        {% else %}
          {{ value.0 }}<br/>  
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endfor %}
  
{% endblock %}
